<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafit.model.dao.PlaylistDao">
  	<!-- id가 일치하는 playlist를 삭제한다. -->
  	<delete id="deletePlayListById" parameterType="int">
  		DELETE FROM playlists
  		WHERE id = #{id};
  	</delete>
  	
  	<!-- 새로운 playlist를 삽입한다. -->
  	<insert id="insertPlayList" parameterType="PlayList" useGeneratedKeys="true">
  		INSERT INTO playlists (user_id, title)
  		VALUES (#{userId}, #{title});
  	</insert>
  	
  	<!-- id가 일치하는 playlist의 모든 속성을 불러온다. -->
  	<select id="selectPlayList" parameterType="int" resultType="PlayList">
  		SELECT *
  		FROM playlists
  		WHERE id = #{id};
  	</select>
  </mapper>
  