<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.PlaylistDao">
	<!-- id가 일치하는 playlist를 삭제한다. -->
	<delete id="deletePlaylistById" parameterType="long">
		DELETE FROM
		playlists
		WHERE id = #{id};
	</delete>

	<!-- 새로운 playlist를 삽입한다. -->
	<insert id="insertPlaylist" parameterType="Playlist"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO playlists (user_id,
		title)
		VALUES (#{userId}, #{title});
	</insert>

	<!-- id가 일치하는 playlist의 모든 속성을 불러온다. -->
	<select id="selectPlaylist" parameterType="long"
		resultType="LoadingPlaylist">
		SELECT
		p.id AS playlist_id, 
		p.title AS playlist_title,
		pi.id AS playlistItemId,
		pi.video_id, 
		pi.thumbnails,
		pi.title AS playlistItemTitle,
		p.created_at AS createdAt
		FROM playlists p
		LEFT JOIN playlist_items pi
		ON p.id = pi.playlist_id
		WHERE p.user_id = #{id}
		ORDER BY pi.id ASC;

	</select>


</mapper>
  